<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../public.css">
    <style>
        .message{
            border-bottom: 1px solid rgb(150, 150, 150);
            padding-bottom: 10px;
            margin: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .message div{
            margin:10px 30px;
        }
        .message img{
            border-radius: 100%;
            background-color: aqua;
            width: 50px;
            height: 50px;
        }
    </style>
    </head>

    <body>
    <div class ="container-fluid">
        <header_temp></header_temp>

        <div><img id="ppt" src="" /></div>

         <!-- display: flex;flex-direction: column;justify-content: center;align-items: center; -->
         <div id="messages" style="">
             <div class="" style="margin: 0 auto;width: fit-content;"><div style="display: inline-block;">近期活动</div><input style="margin:20px 50px;" type="text" placeholder="搜索"><button class="btn btn-primary">查询</button></div>
             <div v-for="message in messages" :key="message.id" class="message">
                 <div><img :src="message.graph" alt=""></div>
                 <div id="message_title">{{message.title}}</div>
                 <div id="message_time">{{message.time}}</div>
             </div>
         </div>

         <div id="projects">
            <div class="" style="margin: 0 auto;width: fit-content;"><div style="display: inline-block;">我的项目</div><input style="margin:20px 50px;" type="text" placeholder="搜索"><button class="btn btn-primary">查询</button></div>
             <div class="project_line" v-for="project_line in projects" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                 <div class="project_line" style="display: flex;">
                     <div class="project" v-for="project in project_line">
                        {{project}}
                    </div>
                 </div>
             </div>
         </div>
        <footer_temp></footer_temp>
    </div>
    <script src="../public.js"></script>
    <script src="../template.js"></script>
    <script>
        formalizeProject()
        var app = Vue.createApp({
            data() {
                return {
                    messages:[
                        {
                            id:0,
                            title:'名企HR带你写简历',
                            time:'2022-4-23',
                            graph:'',
                        },
                        {
                            id:0,
                            title:'名企HR带你写简历',
                            time:'2022-4-23',
                            graph:''
                        },
                        {
                            id:0,
                            title:'名企HR带你写简历',
                            time:'2022-4-23',
                            graph:''
                        }
                    ],
                    projects_wait:[
                        {
                            id:0,
                            title:'HR体验',
                            holder:'南湖人才有限公司',
                            graph:'',
                            holdergraph:'',
                            taps:['软件工程','产品经理'],
                            statu:1
                        },
                    ]
                }
            },
            methods: {
            },
            mounted(){
                for(i=0;i<20;i++){
                    this.projects_wait.push(this.projects_wait[0])
                }
            },
            computed:{
                projects(){
                    var groups=this.projects_wait.length
                    groups=(groups-groups%4)/4
                    var res=[]
                    for(i=0;i<=groups;i++){
                        let res_son=[]
                        for(ii=0;ii<4;ii++){
                            let index=i*4+ii
                            res_son.push(this.projects_wait[index])
                        }
                        res.push(res_son)
                    }
                    console.log(res)
                    return res
                }
            }
        })
        app.component('runoob', {
            data(){
            return{
            }
        },
            methods:{
        },
            props:[],
            template: '<h1>自定义组件!</h1>'
        })
        app.component('header_temp',headerTemp)
        app.component('footer_temp',footerTemp)
        const vm = app.mount('.container-fluid')
    </script>
</body>

</html>