<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>职业培训</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <link href="../public.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="./recruit.css" rel="stylesheet">
    <style>

    </style>
    </head>

    <body>

    <div class="container-all">

        <div class="">
            <headerTemp></headerTemp>
        </div>

        <div class ="container">
            <h2 style="margin: 30px 0px;">职业培训</h2>
            <!-- 搜索与分类 -->
            <div id="setSort">
                <input type="text" placeholder="  关键词" v-model="keyWord">
                <input type="text" placeholder="  位置" v-model="sort">
                <button @click="recruitSorter">搜索</button>
            </div>

            <!-- 渲染所有项目 -->
            <affairtemp :affairs="showRecruit" @gospeaffair="goSpeRecruit" v-if="ifNormal"></affairtemp>
            <affairtemp :affairs="sortedAllRecruit" @gospeaffair="goSpeRecruit" v-else></affairtemp>

            <!-- 翻页 -->
            <pageTemp :pages="pages" @changepage="changePage" v-if="ifNormal"></pageTemp>
        </div>

        <div class="">
            <footertemp></footertemp>
        </div>
        
    </div>

    <script src="../public.js"></script>
    <script src="../template.js"></script>
    <script>
        var onePage=6
        var app = Vue.createApp({
            data() {
                return {
                    sort:'',
                    keyWord:'',
                    allRecruit:[],
                    totalNum:'',
                    showRecruit:[],
                    sortedAllRecruit:[],
                    ifNormal:true
                }
            },
            computed:{
                pages(){
                    var pages=this.totalNum/onePage
                    var res=[]
                    for(let i=0;i<pages;i++){
                        res.push(i+1)
                    }
                    return res
                }
            },
            mounted(){
                $.post(
                    hostDomain+'/recruit/allrecruit/showAllRecruit2',
                    {
                        sort:this.sort,
                        keyWord:this.keyWord,
                        number:onePage
                    },
                    (data,status)=>{
                        if(Number(status)==500){
                            alert('好像出了点问题')
                        }
                        else{
                            this.allRecruit=data.content
                            this.showRecruit=data.content
                            this.totalNum=data.totalNum
                        }
                    }
                )
            },
            methods: {
                goSpeRecruit(recruitId){
                    window.location='./speRecruit.html?recruitId='+recruitId
                },
                recruitSorter(){
                    if(this.sort !='' || this.keyWord!=''){
                    this.ifNormal=false
                    $.post(
                        hostDomain+'/recruit/allrecruit/showAllRecruit',
                        {
                            sort:this.sort,
                            keyWord:this.keyWord,
                        },
                        (data,status)=>{
                            if(Number(status)==500){
                                alert('好像出了点问题')
                            }
                            else{
                                this.sortedAllRecruit=data.content
                            }
                        }
                    )}
                    else{this.ifNormal=true}
                },
                changePage(i){
                    if(!(this.allRecruit.length>(i-1)*onePage)){
                        $.post(
                            hostDomain+'/recruit/allrecruit/showAllRecruit',
                            {
                                sort:this.sort,
                                keyWord:this.keyWord,
                                number:i*onePage
                            },
                            (data,status)=>{
                                if(Number(status)==500){
                                    alert('好像出了点问题')
                                }
                                else{
                                    this.allRecruit=data.content
                                    this.totalNum=data.totalNum
                                    this.showRecruit=this.allRecruit.slice((i-1)*onePage,i*onePage)
                                }
                            }
                        )
                    }
                    else{
                        this.showRecruit=this.allRecruit.slice((i-1)*onePage,i*onePage)
                    }
                }
            }
        })
        app.component('headertemp',headerTemp)
        app.component('footertemp',footerTemp)
        app.component('affairtemp',affairTemp)
        app.component('pagetemp',pageTemp)
        const vm = app.mount('.container-all')
    </script>
</body>

</html>